In [1]:
#import necessary libraries
import pandas as pd

In [2]:
#load data

df= pd.read_csv (r'C:\Users\Tombra\Infectious-diseases-in-California\california infectious disease.csv')

In [3]:
df.head()

,Disease,County,Year,Sex,Cases,Population,Lower 95% CI,Upper 95% CI,Rate
0,Amebiasis,ALAMEDA,2001,FEMALE,7.0,746596,0.377,1.932,0.938*
1,Amebiasis,ALAMEDA,2001,MALE,9.0,718968,0.572,2.376,1.252*
2,Amebiasis,ALAMEDA,2001,TOTAL,16.0,1465564,0.624,1.773,1.092*
3,Anaplasmosis and Ehrlichiosis,ALAMEDA,2001,FEMALE,0.0,746596,0.000,0.494,-
4,Anaplasmosis and Ehrlichiosis,ALAMEDA,2001,MALE,0.0,718968,0.000,0.513,-