In [3]:
#import necessary libraries
import pandas as pd

In [4]:
#load data

df= pd.read_csv (r'C:\Users\Tombra\Infectious-diseases-in-California\california infectious disease.csv')

In [5]:
df.head()

,Disease,County,Year,Sex,Cases,Population,Lower 95% CI,Upper 95% CI,Rate
0,Amebiasis,ALAMEDA,2001,FEMALE,7.0,746596,0.377,1.932,0.938*
1,Amebiasis,ALAMEDA,2001,MALE,9.0,718968,0.572,2.376,1.252*
2,Amebiasis,ALAMEDA,2001,TOTAL,16.0,1465564,0.624,1.773,1.092*
3,Anaplasmosis and Ehrlichiosis,ALAMEDA,2001,FEMALE,0.0,746596,0.000,0.494,-
4,Anaplasmosis and Ehrlichiosis,ALAMEDA,2001,MALE,0.0,718968,0.000,0.513,-

In [7]:
df.isnull().sum()

Disease            0
County             0
Year               0
Sex                0
Cases           3742
Population         0
Lower 95% CI    4261
Upper 95% CI    4261
Rate               0
dtype: int64

In [8]:
df.describe()

,Year,Cases,Population,Lower 95% CI,Upper 95% CI
count,154344.000000,150602.000000,1.543440e+05,150083.000000,150083.000000
mean,2009.788991,10.324677,8.449279e+05,0.667443,22.024867
std,5.190337,137.911319,3.514416e+06,5.286432,73.936024
min,2001.000000,0.000000,5.630000e+02,0.000000,0.009000
25%,2005.000000,0.000000,2.920500e+04,0.000000,1.241000
50%,2010.000000,0.000000,1.251840e+05,0.000000,4.080000
75%,2014.000000,0.000000,4.199700e+05,0.000000,14.257000
max,2018.000000,9488.000000,3.982518e+07,344.974000,653.077000

In [ ]:
mean_values= df.mean()
df=